USE [T3SMARTSCM_NEW]
GO
/****** Object:  StoredProcedure [dbo].[SP_SKC_UI_SA1170_BASE_DATE_Q1]    Script Date: 2024-10-15 오후 2:16:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SKC_UI_SA1170_BASE_DATE_Q1] (
     @P_USER_ID               NVARCHAR(100)   = NULL    -- USER_ID
   , @P_VIEW_ID               NVARCHAR(100)   = NULL    -- VIEW_ID
)
AS
/*********^*********^*********^*********^*********^*********^*********^*********^*********^*********^*********^********/
-- PROCEDURE NAME  : SP_SKC_UI_SA1170_BASE_DATE_Q1
-- COPYRIGHT       : AJS
-- REMARK          : 해외법인 재고현황
--                   해외법인별 재고 및 평가감 재고 6개월 Trend를 조회할 수 있는 화면  
/*********^*********^*********^*********^*********^*********^*********^*********^*********^*********^*********^********/
-- DATE        BY             Modification
-----------------------------------------------------------------------------------------------------------------------
-- 2023-07-02  AJS            신규 생성
/*********^*********^*********^*********^*********^*********^*********^*********^*********^*********^*********^********/
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET NOCOUNT ON
SET ANSI_WARNINGS OFF
SET ARITHIGNORE ON
SET ARITHABORT OFF;


---------- LOG START ----------
/*
SELECT * FROM TB_PGM_LOG WHERE PGM_NM = 'SP_SKC_UI_SA1170_BASE_DATE_Q1' ORDER BY LOG_DTTM DESC
EXEC SP_SKC_UI_SA1170_BASE_DATE_Q1  'I23779',''
*/
DECLARE @P_PGM_NM     NVARCHAR(100)  = ''
      , @PARM_DESC    NVARCHAR(1000) = ''

    SET @P_PGM_NM  = OBJECT_NAME(@@PROCID) ;

    SET @PARM_DESC =    '''' + ISNULL(CONVERT(VARCHAR(100), @P_USER_ID         ), '')
                   + ''',''' + ISNULL(CONVERT(VARCHAR(100), @P_VIEW_ID         ), '')
                   + ''''

  EXEC T3SMARTSCM_NEW.DBO.SP_PGM_LOG  'SA',@P_PGM_NM, NULL, NULL, @PARM_DESC, @P_USER_ID ;


---------- LOG END ----------

BEGIN
    -----------------------------------
    --  기준년월은 10일 이전은 M-2, 10일부터 M-1으로 일괄 통일
    -----------------------------------
    DECLARE @V_TO_YYYYMM NVARCHAR(7) = (SELECT CONVERT(NVARCHAR(10), CONVERT(DATE, DBO.FN_SNOP_BASE_YYYYMM()+'01'), 121))
    DECLARE @V_FR_YYYYMM NVARCHAR(7) = CONVERT(NVARCHAR(7), DATEADD(MONTH, -5, @V_TO_YYYYMM+ '-01'), 121)

       SELECT @V_FR_YYYYMM	AS FR_YYYYMM
            , @V_TO_YYYYMM	AS TO_YYYYMM
     

END
GO
