USE [T3SMARTSCM_NEW]
GO
/****** Object:  StoredProcedure [dbo].[SP_SKC_UI_FP2020_Q1]    Script Date: 2024-09-13 오후 3:04:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SKC_UI_FP2020_Q1] (
     @P_FP_VERSION			NVARCHAR(30)    = NULL    /*FP 버전*/   
   , @P_USER_ID             NVARCHAR(100)   = NULL    -- USER_ID
   , @P_VIEW_ID             NVARCHAR(100)   = NULL    -- VIEW_ID
)
AS
/*********^*********^*********^*********^*********^*********^*********^*********^*********^*********^*********^********/
-- PROCEDURE NAME  : SP_SKC_UI_FP2020_Q1
-- COPYRIGHT       : ZIONEX
-- REMARK          : DMT 생산계획
--                   1) Flake/Briquet, Molten 에 대한 일 단위 생산계획을 수립 유관부서에 배포
--					 2) 상단GRID
/*********^*********^*********^*********^*********^*********^*********^*********^*********^*********^*********^********/
-- DATE        BY             Modification
-----------------------------------------------------------------------------------------------------------------------
-- 2024-07-19  ZIONEX         신규 생성
/*********^*********^*********^*********^*********^*********^*********^*********^*********^*********^*********^********/
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

SET NOCOUNT ON;

---------- LOG START ----------
/*
SELECT * FROM TB_PGM_LOG WHERE PGM_NM = 'SP_SKC_UI_FP2020_Q1' ORDER BY LOG_DTTM DESC
EXEC SP_SKC_UI_FP2020_Q1 'FP-20240803-DM-05','I23670','UI_FP2020'
*/
DECLARE @P_PGM_NM     NVARCHAR(100)  = ''
      , @PARM_DESC    NVARCHAR(1000) = ''

	  , @PLAN_STR_DTE NVARCHAR(8) = ''
	  , @PLAN_END_DTE NVARCHAR(8) = ''
	  , @EOH_DTE      NVARCHAR(8) = ''


    SET @P_PGM_NM  = OBJECT_NAME(@@PROCID) ;

    SET @PARM_DESC =    '''' + ISNULL(CONVERT(VARCHAR(100), @P_FP_VERSION         ), '')
				   + ''',''' + ISNULL(CONVERT(VARCHAR(100), @P_USER_ID         ), '')
				   + ''',''' + ISNULL(CONVERT(VARCHAR(100), @P_VIEW_ID         ), '')

                   + ''''

  EXEC T3SMARTSCM_NEW.DBO.SP_PGM_LOG  'FP',@P_PGM_NM, NULL, NULL, @PARM_DESC, @P_USER_ID ;


  SELECT  @PLAN_STR_DTE  = CONVERT(NVARCHAR(8), FROM_DT, 112)
       ,  @EOH_DTE       = CONVERT(NVARCHAR(8), FROM_DT, 112)
       ,  @PLAN_END_DTE  = CONVERT(NVARCHAR(8), TO_DT, 112)
    FROM  VW_FP_PLAN_VERSION
   WHERE  VERSION = @P_FP_VERSION

---------- LOG END ----------
BEGIN

    -----------------------------------
    -- 조회 
    -----------------------------------

	IF OBJECT_ID('tempdb..#TM_MES') IS NOT NULL DROP TABLE #TM_MES -- 임시테이블 삭제		 
	

		SELECT A.BRND_CD
		     , A.BRND_NM
		     , A.PRDT_GRADE_CD
		     , A.PRDT_GRADE_NM
		     , A.ITEM_CD
			 , A.ITEM_NM
			 , B.DAT_ID
			 , ISNULL(C.BOH_QTY, 0) AS BOH_QTY
			 , A.MEASURE_CD
			 , A.MEASURE_NM
		  INTO #TM_MES
		  FROM (SELECT  B.ATTR_06 AS BRND_CD
			         ,  B.ATTR_07 AS BRND_NM
			         ,  B.ATTR_08 AS PRDT_GRADE_CD
			         ,  B.ATTR_09 AS PRDT_GRADE_NM
			         ,  B.ITEM_CD
			         ,  B.ITEM_NM
					 ,  A.COMN_CD AS MEASURE_CD
					 ,  A.COMN_CD_NM AS MEASURE_NM
				  FROM  FN_COMN_CODE('FP2020', '') A
                 INNER  JOIN TB_CM_ITEM_MST B
				    ON  1=1
                   AND  ITEM_TP_ID = 'GFRT'
                   AND  ATTR_10    = '27-A0310B3110C0830'
				 WHERE  COMN_CD IN ('01', '03', '05', '06')
				 UNION  ALL
				SELECT  B.ATTR_06 AS BRND_CD
			         ,  B.ATTR_07 AS BRND_NM
			         ,  B.ATTR_08 AS PRDT_GRADE_CD
			         ,  B.ATTR_09 AS PRDT_GRADE_NM
			         ,  B.ITEM_CD
			         ,  B.ITEM_NM
					 ,  A.COMN_CD AS MEASURE_CD
					 ,  A.COMN_CD_NM AS MEASURE_NM
				  FROM  FN_COMN_CODE('FP2020', '') A
                 INNER  JOIN TB_CM_ITEM_MST B
				    ON  1=1
                   AND  ITEM_TP_ID = 'GFRT'
                   AND  ATTR_10    = '27-A0310B3120C0840'
				 WHERE  COMN_CD IN ('01', '03', '06')
              )  A	
          INNER  JOIN TB_CM_CALENDAR B
		     ON  1=1
            AND  DAT_ID BETWEEN  @PLAN_STR_DTE  AND @PLAN_END_DTE
           LEFT  OUTER JOIN 
              (  SELECT  A.ITEM_CD, SUM(STCK_QTY) AS BOH_QTY
			       FROM  TB_SKC_CM_FERT_STCK_HST A
				  WHERE  EXISTS ( SELECT 1 FROM TB_CM_ITEM_MST X WHERE A.ITEM_CD = X.ITEM_CD AND  X.ITEM_TP_ID = 'GFRT' AND  X.ATTR_04    = '27')
                    AND  A.PLNT_CD = '1250'
					AND  CONVERT(NVARCHAR(8),BASE_DATE,112) = @EOH_DTE
				  GROUP  BY A.ITEM_CD
              )  C
             ON  A.ITEM_CD = C.ITEM_CD	  




	IF OBJECT_ID('tempdb..#TM_PSI') IS NOT NULL DROP TABLE #TM_PSI -- 임시테이블 삭제

        SELECT  DISTINCT A.ITEM_CD
		     ,  A.BOH_QTY
			 ,  A.DAT_ID
		     ,  ISNULL(B.PRDT_REQ_QTY,0) AS PRDT_REQ_QTY
			 ,  ISNULL(C.PLAN_QTY,0) AS PLAN_QTY
			 			 ,  A.BOH_QTY + SUM(ISNULL(C.PLAN_QTY,0))OVER(PARTITION BY A.ITEM_CD ORDER BY A.DAT_ID)
			 -  SUM(ISNULL(B.PRDT_REQ_QTY,0)) OVER(PARTITION BY A.ITEM_CD ORDER BY A.DAT_ID) AS EOH_QTY
          INTO  #TM_PSI
		  FROM  #TM_MES  A
		  LEFT  OUTER JOIN  
		     ( 
			    /*SELECT  ITEM_CD, PACK_REQ_DTE AS PRDT_REQ_DTE, SUM(PACK_REQ_QTY) AS PRDT_REQ_QTY  
			      FROM 
					 (  SELECT  DISTINCT DMND_ID, ITEM_CD, PACK_REQ_DTE, PACK_REQ_QTY
						  FROM  TB_SKC_FP_RS_PRDT_REQ_DM
						 WHERE  DMND_TYPE = 'MP'  
						   AND  VER_ID    =  @P_FP_VERSION
                 
					 ) B GROUP BY B.ITEM_CD, B.PACK_REQ_DTE*/
                SELECT  ITEM_CD, GI_REQ_DTE AS PRDT_REQ_DTE, SUM(GI_REQ_QTY) AS PRDT_REQ_QTY
				  FROM  TB_SKC_FP_RS_PACK_REQ_DM
				 WHERE  DMND_TYPE = 'MP'  
				   AND  VER_ID    =  @P_FP_VERSION
                 GROUP  BY ITEM_CD, GI_REQ_DTE

             )  B
			ON  A.ITEM_CD = B.ITEM_CD
           AND  A.DAT_ID  = B.PRDT_REQ_DTE
		  LEFT  OUTER JOIN  
		     (
			    SELECT  ITEM_CD, PLAN_DTE, SUM(ADJ_PLAN_QTY) AS PLAN_QTY
                  FROM  TB_SKC_FP_RS_PRDT_PLAN_DM A
                 WHERE  1=1
				   AND  EXISTS ( SELECT  1 FROM TB_CM_ITEM_MST X 
								  WHERE  X.ITEM_TP_ID = 'GFRT' 
									AND  X.ATTR_10 IN ('27-A0310B3110C0830', '27-A0310B3120C0840') 
					 				AND  A.ITEM_CD = X.ITEM_CD)
				   AND  PLAN_TYPE_CD = 'DMND'
                   AND  VER_ID    = @P_FP_VERSION
                 GROUP  BY ITEM_CD, PLAN_DTE
			 )  C
			ON  A.ITEM_CD     = C.ITEM_CD
           AND  A.DAT_ID      = C.PLAN_DTE
		 WHERE  A.MEASURE_CD  = '06'


	IF OBJECT_ID('tempdb..#SD_QTY') IS NOT NULL DROP TABLE #SD_QTY -- 임시테이블 삭제


	     SELECT  A.ITEM_CD, IIF(PRDT_REQ_DTE<@PLAN_STR_DTE,@PLAN_STR_DTE,PRDT_REQ_DTE) AS SD_REQ_DTE , SUM(PRDT_REQ_QTY*1000) AS SD_REQ_QTY 
		   INTO  #SD_QTY
		   FROM  TB_SKC_FP_RS_PRDT_REQ_DM A
	      WHERE  1=1
		    AND  DMND_TYPE = 'SD'
			AND  VER_ID    =  @P_FP_VERSION
		    AND  EXISTS ( SELECT 1 FROM TB_CM_ITEM_MST   B
		                   WHERE  A.ITEM_CD = B.ITEM_CD
							 AND  B.ATTR_04 = '27'
							 AND  B.ATTR_10 = '27-A0310B3110C0830'
                        ) 
	      GROUP  BY  A.ITEM_CD,IIF(PRDT_REQ_DTE<@PLAN_STR_DTE,@PLAN_STR_DTE,PRDT_REQ_DTE)


	IF OBJECT_ID('tempdb..#TM_FP_QTY') IS NOT NULL DROP TABLE #TM_FP_QTY -- 임시테이블 삭제

		SELECT A.BRND_CD
		     , A.BRND_NM
		     , A.PRDT_GRADE_CD
		     , A.PRDT_GRADE_NM
		     , A.ITEM_CD
			 , A.ITEM_NM
			 , A.DAT_ID
			 , A.BOH_QTY/1000 as BOH_QTY
			 , A.MEASURE_CD
			 , A.MEASURE_NM
			 , CASE WHEN A.MEASURE_CD = '01' THEN PLAN_QTY
					WHEN A.MEASURE_CD = '03' THEN PRDT_REQ_QTY
					WHEN A.MEASURE_CD = '05' THEN SD_REQ_QTY
					WHEN A.MEASURE_CD = '06' THEN B.EOH_QTY END AS QTY
		  INTO  #TM_FP_QTY
		  FROM  #TM_MES A
		 INNER  JOIN  #TM_PSI B
			ON  A.ITEM_CD = B.ITEM_CD
           AND  A.DAT_ID  = B.DAT_ID
          LEFT  OUTER JOIN  #SD_QTY C
		    ON  A.DAT_ID  = C.SD_REQ_DTE
		   AND  A.ITEM_CD = C.ITEM_CD 
		 WHERE  1=1




		  SELECT @P_FP_VERSION AS VER_ID
			   , A.BRND_CD
			   , A.BRND_NM
			   , A.PRDT_GRADE_CD
			   , A.PRDT_GRADE_NM
			   , A.ITEM_CD
			   , A.ITEM_NM
			   , A.BOH_QTY
			   , A.DAT_ID AS PLAN_DTE
			   , B.DOW_NM
			   , B.HOLID_YN
			   , MEASURE_CD
			   , MEASURE_NM
			   , CASE WHEN A.DAT_ID >= FORMAT(GETDATE(), 'yyyyMMdd') THEN 'Y'
					  ELSE 'N' END AS ADJ_YN
			   , QTY/1000 AS QTY
		    FROM #TM_FP_QTY A
		   INNER JOIN TB_CM_CALENDAR B
		      ON A.DAT_ID = B.DAT_ID
		   ORDER BY A.ITEM_CD, A.DAT_ID, A.MEASURE_CD;

		   --EXEC SP_SKC_UI_FP2020_Q1'','','UI_FP2020'
END;
GO
